html,
body {
    font-family: "Instrument_Sans" !important;
}

.no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.login-modal {
    .semi-sidesheet-inner {
        background-color: transparent;
    }

    .semi-sidesheet-header {
        display: none;
    }

    .semi-sidesheet-mask {
        background-color: transparent;
    }
}
