html,
body,
* {
    font-family: "Instrument_Sans" !important;
}

.no-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.login-modal,
.userInfo-modal {
    .semi-sidesheet-inner {
        background-color: transparent;
    }

    .semi-sidesheet-header {
        display: none;
    }

    .semi-sidesheet-mask {
        background-color: transparent;
    }
}

.dropdown-modal {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
}

.semi-switch {
    background-color: #d9d9d9;
}

.semi-switch:hover {
    background-color: #d9d9d9;
}

.semi-switch-checked {
    background-color: #07c160;
}

.semi-switch-checked:hover {
    background-color: #07c160;
}

.semi-input-wrapper {
    background: transparent !important;
}

.semi-input-wrapper-focus:active {
    border: 0;
}

.semi-input-wrapper {
    color: #999999;
    border: 0;

    .semi-input {
        padding: 0;
        outline: none;
    }
}

.semi-input-wrapper-default {
    font-size: inherit;
}

.semi-input-default {
    font-size: inherit;
    color: inherit;
}

.amount-input .semi-input-wrapper {
    color: #000000;
    background-color: transparent;
}

.amount-input .semi-input {
    background-color: transparent;
}

.amount-input .semi-input-wrapper .semi-input-default::placeholder {
    color: #999999 !important;
}

.amount-input .semi-input-wrapper .semi-input-disabled::placeholder {
    -webkit-text-fill-color: #999999 !important;
}

@layer utilities {
    .bg-swap-btn {
        background-image: linear-gradient(90deg, #08BE65 0%, #2161F9 100%);
    }
}

.semi-modal-mask {
    background: rgba(0, 0, 0, 0.60);
    backdrop-filter: blur(4px);
}

.semi-modal {
    .semi-modal-content {
        background-color: transparent;
        box-shadow: none;
        border: none;
    }
}

.semi-select-selection {
    color: inherit;
}

.semi-select-arrow {
    color: inherit;
}